<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd

		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd">

	<!-- spring-data 配置 -->
    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
	<!-- 指定方言 -->
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
	  
	<!-- jpa工厂 -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 指定Jpa持久化实现厂商类,这里以Hibernate为例 -->
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
		<!-- 指定方言 -->
		<property name="jpaDialect" ref="jpaDialect" />
		<!-- 指定JPA属性；如Hibernate中指定是否显示SQL的是否显示、方言等 -->
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${dataSource.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">${dataSource.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${dataSource.show_sql}</prop>
				<prop key="hibernate.format_sql">${dataSource.format_sql}</prop>
			</props>
		</property>
		<!-- 指定包位置 -->
		<property name="packagesToScan">
			<list>
				<value>com.sys.entity</value>
			</list>
		</property>
	</bean>

    <!-- 重要配置：启用扫描并自动创建代理的功能 -->
	<jpa:repositories base-package="com.sys.repository"
		transaction-manager-ref="transactionManager"
		entity-manager-factory-ref="entityManagerFactory"/>
</beans>
